<div class="content">
    <div class="about">
        <h3>About me</h3>
        <p class="bth__date">
            {{about.birth}}
        </p>
        <p>{{about.text}}</p>
    </div>
    <div class="education">
        <h3>Education</h3>
        <p>{{education[0]}}</p>
        <p class="date">{{education[1]}}</p>
        <p>{{education[2]}}</p>
        <p>{{education[3]}}</p>
        <p class="date">{{education[4]}}</p>
    </div>
    <div class="experience">
        <h3>Work Experience</h3>
        <h4>{{experience[0]}}</h4>
        <p class="date">{{experience[1]}}</p>
        <p>{{experience[2]}} <br> {{experience[3]}} <br> {{experience[4]}} <br> {{experience[5]}}</p>
    </div>
</div>